/* Global Container */
.container {
    margin-left: 5%;
    margin-right: 5%;
}

/* Site Container */

.site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.site-content {
    flex-grow: 1;
}

/* Site Header */

.site-header {
    display: flex;
    height: 10rem;
    flex-direction: column;
    backface-visibility: hidden;
    align-items: center;
    justify-content: center;
}

.site-header-logo {
    display: flex;
}

.site-header-navbar {
    font-size: 2rem;
}

.site-header-navbar-item {
    padding: 0rem 1rem;
    color: #000;
}

/* Posts */

.post  {

}

.post-title {
    color: #000;
    text-align: center;
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 800;
    margin-bottom: 0.5rem;
}

.post-meta {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #aaa;
    font-size: 0.75rem;
    font-weight: 800;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.post-meta-date::before {
    content: "\02022";
    margin: 0rem 1rem;
}

.post-meta-date {

}

.post-meta-author {
    
}

.post-content {

}

/* formatting */

html {
    font-size: 16px;
    font-family: Muli;
    line-height: 1.65rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1a1a1a;
  font-weight: 700;
}

h1 {
    font-size: 1.5rem;
}

body {
    color: #333;
    word-break: break-word;
    text-rendering: optimizeLegibility;
}
