/* Global Container */
.container {
    margin-left: 5%;
    margin-right: 5%;
}

@media (min-width: 768px) {
    .container {
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
    }
}

/* Site Container */

.site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.site-content {
    flex-grow: 1;
}

/* site header */

.site-header {
    display: flex;
    height: 10rem;
    flex-direction: column;
    backface-visibility: hidden;
    align-items: center;
    justify-content: center;
}

/* site header title */

.site-title {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.site-title-logo {
    flex-grow: 1;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}

.site-header-navbar {
    width: 100%;
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1rem;
}

.site-header-navbar-item {
    padding: 0rem 1rem 0rem 1rem;
    font-size: 2.5rem;
    font-weight: 700;
    color: #000;
}

.fa-contact-icon-style  {
    color: #282c35;
}

.dark-mode .fa-contact-icon-style  {
    color: #ccc;
}

/* Posts */

.post-title {
    color: #000;
    text-align: center;
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 800;
    margin-bottom: 0.5rem;
}

.dark-mode .post-title {
    background-color: #282c35;
    color: #ccc;
}

.post-meta {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #aaa;
    font-size: 0.75rem;
    font-weight: 800;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.post-meta-date::before {
    content: "\02022";
    margin: 0rem 1rem;
}

/* formatting */

html {
    font-size: 16px;
    font-family: Muli;
    line-height: 1.65rem;
}

body {
    color: #333;
    word-break: break-word;
    text-rendering: optimizeLegibility;
}

.dark-mode {
    background-color: #282c35;
    color: #ccc;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1a1a1a;
  font-weight: 700;
}

h1 {
    font-size: 2rem;
}

.dark-mode h1, 
.dark-mode h2,
.dark-mode h3,
.dark-mode h4,
.dark-mode h5,
.dark-mode h6
{
    background-color: #282c35;
    color: #ccc;
}

button {
    background: transparent;
    outline: none;
    border: none;
}

.dark-mode-toggle-button-style {
    font-size: 2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border: 2px solid #ccc;
    border-radius: 5px;
    transition: all 0.2s linear 0s;
    cursor: pointer;
}

.dark-mode .dark-mode-toggle-button-style {
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
    border-top: 2px solid #ccc;
    border-left: 2px solid #ccc;
    color: #ccc;
}

.hamburger-menu-button-style {
    cursor: pointer;
    font-size: 2rem;
    padding: 0rem;
}

.dark-mode .hamburger-menu-button-style {
    color: #ccc;
}

.hamburger-menu-frame {
    width: 0; /* <- Set by JavaScript when the button is pushed */
    transition: width 0.5s;
    height: 100%;
    position: fixed; 
    display: flex;
    flex-direction: column;
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #ccc;
    overflow-x: hidden; 
}

.hamburger-menu-frame .close-button {
    padding: 0.5rem;
    position: absolute;
    cursor: pointer;
    top: 0.5rem;
    right: 0.5rem;
    font-size: 2.5rem;
}

.fa-hamburger-close-button-style {
    color: #282c35;
}

.hamburger-menu {
    display: flex;
    flex-direction: column;
    word-break: keep-all;
    padding-top: 5rem;
    padding-left: 2rem;
}

.hamburger-menu-item {
    padding-bottom: 0.5rem;
    font-size: 1.5rem;
    color: #282c35;
}

a:hover, a:focus {
    text-decoration: underline;
    font-weight: bold;
}

.index-panel {
    display: flex;
    flex-direction: column;
}

.index-panel-item {
    margin-bottom: 1.5rem;
}

.index-panel-item-title {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2.5rem;
}

.index-panel-item-meta {
    font-size: 0.80rem;
    color: #aaa;
    font-weight: 700;
}

.index-panel-item-snippet {
    color: #333;
}

.dark-mode .index-panel-item-snippet {
    color: #ccc;
}

.index-panel a {
    text-decoration: underline;
    color: unset;
}

/* Scroll Bar */
::-webkit-scrollbar {
    height: 0.5rem;
}
  
.dark-mode ::-webkit-scrollbar-track {
    background: #444;
}

.dark-mode ::-webkit-scrollbar-thumb {
    background: #555;
}

::-webkit-scrollbar-track {
    background: #888;
}

::-webkit-scrollbar-thumb {
    background: #aaa;
}

