<div class="site-header">
    <div class="site-title">
        <div class="site-title-left">
            <div class="hamburger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </div>
        <div class="site-title-logo">
        &nbsp;&nbsp;CAKERS.IO
        </div>
        <div class="site-title-right">
            <div class="dark-mode-toggle">
                <button onclick="darkMode()"><i class="far fa-lightbulb"></i></button>
            </div>
        </div>
    </div>
    <div class="site-header-navbar">
        <div class="site-header-navbar-item">
            <a class="fa-icon-style" href="mailto:inpursuitofhisownhat@gmail.com"><i class="fas fa-envelope-square"></i></a>
        </div>
        <div class="site-header-navbar-item">
            <a class="fa-icon-style" href="https://www.linkedin.com/in/chris-akers-1403114"><i class="fab fa-linkedin"></i></a>
        </div>
        <div class="site-header-navbar-item">
            <a class="fa-icon-style" href="https://github.com/chris-j-akers"><i class="fab fa-github-square"></i></a>
        </div>
    </div>
</div>