<div class="site-header">
    <div class="site-title">
        <div class="site-title-left">
            <button class="hamburger-menu-button-style" onclick="open_hamburger_menu()"><i class="fas fa-bars"></i></button>
        </div>
        <div class="site-title-logo">
        {{ site.title }}
        </div>
        <div class="site-title-right">
            <button class="dark-mode-toggle-button-style" onclick="toggle_dark_mode()"><i class="far fa-lightbulb"></i></button>
        </div>
    </div>
    <div class="site-header-navbar">
        <div class="site-header-navbar-item">
            <a class="fa-contact-icon-style" href="mailto:{{ site.email_address }}"><i class="fas fa-envelope-square"></i></a>
        </div>
        <div class="site-header-navbar-item">
            <a class="fa-contact-icon-style" href="{{ site.linked_in_url }}"><i class="fab fa-linkedin"></i></a>
        </div>
        <div class="site-header-navbar-item">
            <a class="fa-contact-icon-style" href="{{ site.github_url }}"><i class="fab fa-github-square"></i></a>
        </div>
    </div>
</div>