<div class="site-header">
    <div class="site-title">
        <div class="site-title-left">
            <button class="hamburger-menu-button-style" onclick="open_hamburger_menu()"><i class="fas fa-bars"></i></button>
        </div>
        <div class="site-title-logo">
        {{ site.title }}
        </div>
        <div class="site-title-right">
            <button class="dark-mode-toggle-button-style" onclick="toggle_dark_mode()"><i class="far fa-lightbulb"></i></button>
        </div>
    </div>
    <div class="site-header-navbar">
        <div class="site-header-navbar-item">
            <a class="fa-contact-icon-style" href="mailto:chris.j.akers@gmail.com"><i class="fas fa-envelope-square"></i></a>
        </div>
        <div class="site-header-navbar-item">
            <a class="fa-contact-icon-style" href="https://www.linkedin.com/in/chris-akers-1403114"><i class="fab fa-linkedin"></i></a>
        </div>
        <div class="site-header-navbar-item">
            <a class="fa-contact-icon-style" href="https://github.com/chris-j-akers"><i class="fab fa-github-square"></i></a>
        </div>
    </div>
</div>